:root {
  --bg-color: #ecf5f1;
  --chat-bg-color: #cde7da;
  --chat-header-color: #d6ffda;
  --Secondary: #fff;
  --button-color: #5fce89;
  --button-disabled_color: #707070;
  --border-transparent: rgba(103, 81, 73, 0.3);
  --typo-secondary: #6b6b6b;
  --text-color: #505050;
  --text-emphasize: #f11d1d;
  --text-click: #000;
  --button-font: 600 15.385px / normal SUITE Variable;
  --input-font: 400 11.541px / 160% SUITE Variable;
  --chat-font: 600 11.541px / 150% SUITE Variable;
  --result-s-font: 600 11.028px / 150% SUITE Variable;
  --result-m-font: 600 11.541px / 150% SUITE Variable;
  --result-l-font: 700 15.385px / 140% SUITE Variable;
  --result-xl-font: 700 19.596px / 140% SUITE Variable;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

* {
  box-sizing: border-box;
  font-family: SUITE Variable;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  max-width: 100%;
  overflow-x: hidden;
}

input {
  outline: none;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: auto;
}

ul,
li {
  list-style-type: none;
}

body {
  font-family: 'SUITE Variable', sans-serif;
}
